<div class="landing-page__container">
  <div class="header">
    <div class="header__container">
      <div class="header__introduction-block">
        <h1 class="dev__name">Vlad Senchuk</h1>
        <h3 class="dev__status">User interface/user experience developer</h3>
        <p class="dev__description">Young developer who want`s create perfect sites</p>
        <button class="button button__telegram"><fa-icon class="button_icon" [icon]="faTelegramPlane"></fa-icon> SEND ME A MESSAGE</button>
        <button class="button button__cv"><fa-icon class="button_icon" [icon]="faDownload"></fa-icon>DOWNLOAD MY CV</button>
      </div>
      <div class="header__details-block">
        <!--remember to change it to table-->
        <div class="bg_gradient">
          <ul class="details__list control_list">
            <li class="details__item">Name: Vlad Senchuk</li>
            <li class="details__item">Address: </li>
            <li class="details__item">Phone: (068)706-38-57</li>
          </ul>
          <ul class="details__list">
            <li class="details__item">Date of birth: 17 March 1995</li>
            <li class="details__item">Nationality: Ukrainian</li>
            <li class="details__item">Email: Veliantos@gmail.com</li>
          </ul>
          <div class="socials">
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/facebook-rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/twitter-rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <nav class="header__nav">
      <a class="nav_link" href="">HOME</a>
      <a class="nav_link" href="">ABOUT</a>
      <a class="nav_link" href="">RESUME</a>
      <a class="nav_link" href="">SKILLS</a>
      <a class="nav_link" href="">WORK</a>
      <a class="nav_link" href="">BLOG</a>
      <a class="nav_link" href="">CONTAT</a>
      <a class="nav_link" href="">PAGES</a>
    </nav>
  </div>
  <div class="about__container">
    <h1 class="title">ABOUT ME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">OBJECTIVE</h3>
    <p>some objective</p>
    <h3 class="title subtitle">WHAT I DO?</h3>
    <div>
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
    </div>
  </div>
  <div class="resume__container">
    <h1 class="title">RESUME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">Education</h3>


    <section class="education timeline container">
      <!-- single timeline event -->
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 2</h2>
          <p>Event 2 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 3</h2>
          <p>Event 3 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 4</h2>
          <p>Event 4 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>
    <h3 class="title subtitle">Education</h3>
    <section class="experience container timeline">
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>



  </div>

</div>
