<div class="landing-page__container">
  <div class="header">
    <div class="header__container">
      <div class="header__introduction-block">
        <h1 class="dev__name">Vlad Senchuk</h1>
        <h3 class="dev__status">User interface/user experience developer</h3>
        <p class="dev__description">Young developer who want`s create perfect sites</p>
        <button class="button button__telegram"><fa-icon class="button_icon" [icon]="faTelegramPlane"></fa-icon> SEND ME A MESSAGE</button>
        <button class="button button__cv"><fa-icon class="button_icon" [icon]="faDownload"></fa-icon>DOWNLOAD MY CV</button>
      </div>
      <div class="header__details-block">
        <!--remember to change it to table-->
        <div class="bg_gradient">
          <ul class="details__list control_list">
            <li class="details__item">Name: Vlad Senchuk</li>
            <li class="details__item">Address: </li>
            <li class="details__item">Phone: (068)706-38-57</li>
          </ul>
          <ul class="details__list">
            <li class="details__item">Date of birth: 17 March 1995</li>
            <li class="details__item">Nationality: Ukrainian</li>
            <li class="details__item">Email: Veliantos@gmail.com</li>
          </ul>
          <div class="socials">
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/facebook-rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/twitter-rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
            <a class="socials__icon" href=""><img src="../../../assets/image-personal/rectangle.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <nav class="header__nav">
      <a class="nav_link" href="">HOME</a>
      <a class="nav_link" href="">ABOUT</a>
      <a class="nav_link" href="">RESUME</a>
      <a class="nav_link" href="">SKILLS</a>
      <a class="nav_link" href="">WORK</a>
      <a class="nav_link" href="">BLOG</a>
      <a class="nav_link" href="">CONTAT</a>
      <a class="nav_link" href="">PAGES</a>
    </nav>
  </div>
  <div class="about__container">
    <h1 class="title">ABOUT ME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">OBJECTIVE</h3>
    <p class="dev__description">some objective</p>
    <h3 class="title subtitle">WHAT I DO?</h3>
    <div>
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
      <img class="work_img" src="../../../assets/image-personal/big-rectangle.png" alt="">
    </div>
  </div>
  <div class="resume__container">
    <h1 class="title">RESUME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">Education</h3>


    <section class="education timeline container">
      <!-- single timeline event -->
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 2</h2>
          <p>Event 2 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 3</h2>
          <p>Event 3 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 4</h2>
          <p>Event 4 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>

      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>
    <h3 class="title subtitle">Education</h3>
    <section class="experience container timeline">
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="../../../assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>
  </div>
  <div class="skills_container">
    <h1 class="title skills_title">SKILLS</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <section class="skill">
      <table class="skill_table">
        <tr class="skill_table">
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table class="skill_table">
        <tr class="skill_table">
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="skill_name">
            <p>UI/UX <span>50%</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress" data-percent="40%">
              <div class="determinate skill-determinate" style="width: 50%;" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <section class="more-skills">
      <h3 class="title subtitle">MORE SKILLS</h3>

      <ul class="circle_skill__list">
        <li class="circle-skill__item">
          <div class="c100 p50 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">Leadership</p>
        </li>
        <li class="circle-skill__item">
          <div class="c100 p50 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">Leadership</p>
        </li>
        <li class="circle-skill__item">
          <div class="c100 p50 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">Leadership</p>
        </li>
        <li class="circle-skill__item">
          <div class="c100 p50 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">Leadership</p>
        </li>
        <li class="circle-skill__item">
          <div class="c100 p50 green">
            <span>25%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">Leadership</p>
        </li>
      </ul>
    </section>
  </div>

  <div class="works_container">
    <h1 class="title">WORKS</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">ALL MY WORKS YOU CAN FIND AT <a href="https://github.com/neitiris">GITHUB</a></h3>
  </div>

  <div class="achievements__container">
    <div class="achievements__content">
      <ul class="achievements__list">
        <li class="achievements__item">
          <fa-icon class="achievements__icon" [icon]="faFlask"></fa-icon>
          <p class="achievement_num">0</p>
          <p class="skill_name">YEARS EXPERIENCE</p>
        </li>
        <li class="achievements__item">
          <fa-icon class="achievements__icon" [icon]="faThumbsUp"></fa-icon>
          <p class="achievement_num">0</p>
          <p class="skill_name">PROJECTS DONE</p>
        </li>
        <li class="achievements__item">
          <fa-icon class="achievements__icon" [icon]="faUsers"></fa-icon>
          <p class="achievement_num">0</p>
          <p class="skill_name">HAPPY CLIENTS</p>
        </li>
        <li class="achievements__item">
          <fa-icon class="achievements__icon" [icon]="faAward"></fa-icon>
          <p class="achievement_num">0</p>
          <p class="skill_name">AWARDS WON</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="posts">
    <h1 class="title">Latest Posts</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <div class="news__container">
      <div class="news__block">
        <div class="news-resent">
          <img class="absolute-shape" src="../../../assets/image-personal/shape.png">
          <img src="../../../assets/image-personal/note.png" alt="">
          <p class="news-tags">PRINT DESIGN, PHOTOSHOP</p>
          <p class="news__text">HOW TO CREATE A PRINT READY BROCHURE USING PHOTOSHOP</p>
        </div>
        <div class="news-details">
          <ul class="news_details__list">
            <li class="news_details__item">
              <fa-icon [icon]="faEdit"></fa-icon>
              <span>Vlad Senchuk</span>
            </li>
            <li class="news_details__item">
              <fa-icon [icon]="faCalendar"></fa-icon>
              <span>02 Oct 2018</span>
            </li>
            <li class="news_details__item">
              <fa-icon [icon]="faShare"></fa-icon>
              <span>02 Oct 2018</span>
            </li>
            <li class="news_details__item">
              <fa-icon [icon]="faComments"></fa-icon>
              <span>02 Oct 2018</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="hired__container">
    <div class="hired__content">
      <div>
        <h2 class="get-hired__text">I`M AVIAILABLE FOR RECRUTING</h2>
        <button class="get-hired__button">GET HIRED</button>
      </div>
    </div>
  </div>

  <div class="feedback__container">
    <h1 class="title">GET IN TOUCH</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt="">
      <div class="feedback_contact">
        <p class="dev__description feedback__text feedback__bold-text">SEND ME A MESSAGE</p>
        <ul class="feedback_contact__list">
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <textarea class="feedback__textarea" name=""></textarea>
          </li>
          <li class="feedback_contact__item">
            <button class="get-hired__button feedback_contact__button">SEND ME :)</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <footer class="footer">
    <p>Created by<a class="footer__link" href="https://www.linkedin.com/in/vladislav-senchuk-94b57a168/">Vlad Senchuk</a> 2018 © All rights reserved</p>
  </footer>
</div>
