$font-base: Roboto;
$font-color-secondary: whitesmoke;
$font-color-three: #68c3a3;
$font-color-dark: #272b31;
$font-color-back: gainsboro;
$borderWidth: 7px;
$animationTime: 1.5s;
$border-color-default: #eee;
$border-color-fill: #ffb43e;
$size: 150px;
$howManySteps: 10;

/***********************************************************
                          GENERAL
***********************************************************/
li{
  list-style: none;
}
.landing-page__container{
  width: 1696px;
  margin: 0 auto;
}
.clear{
  clear: both;
}
/***********************************************************
                          HEADER
***********************************************************/
.header{
  background: $font-color-dark;
  height: 694px;
}
.header__container{
  height: 694px;
}
.header__introduction-block{
  float: left;
  height: 594px;
  padding: 100px 0 0 160px;
}
.dev__name, .dev__status{
  text-transform: uppercase;
}
.dev__name{
  font-family: $font-base;
  color:  $font-color-secondary;
  font-size: 4vw;
  font-weight: bold;
  letter-spacing: 3px;
}
.dev__status{
  font-family: $font-base;
  color:  $font-color-three;
  font-size: 1.4vw;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px;
}
.dev__description{
  font-family: $font-base;
  color:  $font-color-secondary;
  font-size: 1.3vw;
  font-weight: 300;
  line-height: 26px;
  padding-bottom: 10px;
}
.dev_objective{
  color: #3a4149;
  font-size: 20px;
}
.button{
  border-radius: 5px;
  width: 200px;
  height: 57px;
  border: none;
  letter-spacing: 1px;
  font-family: $font-base;
  color:  $font-color-secondary;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.button__cv, .button__telegram{
  padding: 20px 10px;
  text-decoration: none;
}
.button__telegram{
background-color: #52b3d9;
  margin-right: 10px;
}
.button__cv{
  margin-left: 10px;
  background-color: $font-color-three;
}
.button_icon{
  padding: 0 8px 0 0;
  font-size: 15px;
}
.header__details-block{
  width: 55%;
  height: 694px;
  float: right;
  background: url("../../../assets/image-personal/human.png") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
}
.bg_gradient{
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  width: 100%;
  padding: 50px;
}
.details__list{
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  color: $font-color-secondary;
}
.details__item{
  padding-right: 25px;
  text-align: center;
}
.details__item-name-of{
  text-align: left;
  padding: 0;
}
.socials{
  display: flex;
  margin-top: 20px;
}
.socials__icon{
  margin: 0 8px;
}
.social_fa{
  font-size: 25px;
  padding: 0 10px;
}
.relative_social{
  position: relative;
  background: url("../../../assets/image-personal/rectangle.png") no-repeat;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
}
.control_list{
  float: left;
  padding: 0 20px 0 0
}
.header__nav{
  border: 1px solid $font-color-secondary;
  background-color:  #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.nav_list{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
}
.nav_item{
  padding:20px;
  list-style: none;
  font-weight: bolder;
  cursor: pointer;
}
.nav_link{
  padding:20px;
  color: $font-color-dark;
  text-decoration: none;
}
.nav_item:hover{
  background: #68c3a3;
}
.nav_item:hover *{
  color: white;
}

.sticky{
  position: sticky;
  z-index: 1;
  top: 0;
}
/***********************************************************
                      ABOUT
***********************************************************/
.title, .subtitle, .about__container, .br_img{
  text-align: center;
}
.title{
  font-family: $font-base;
  color:  #2c3e50;
  font-size: 50px;
  font-weight: bold;
  line-height: 28px;
  transform: scaleY(1.0002)
}
.subtitle{
  font-size: 24px;
  line-height: 46px;
}
.br_img{
  margin: auto;
  width: 100%;
  height: 20px;
}
.about__container{
  padding-top: 110px;
  text-align: center;
}
.about__rectangle-container{
  display: flex;
  justify-content: center;
}
.about__rectangle{
  background: url("../../../assets/image-personal/big-rectangle.png") no-repeat;
  height: 260px;
  width: 260px;
  background-size: 100%;
  margin: 0 30px;
  padding: 70px 0 0;
  color: #717171;
}
.rectangle_icon{
  font-size: 70px;
}
.work_img{
  padding: 15px;
}
/***********************************************************
                    RESUME
***********************************************************/
.timeline {
  position: relative;
  padding: 10px 0 40px;
  margin-top: 2em;
  margin-bottom: 2em;
}
.timeline-block::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: $font-color-secondary;
  left: 50.12%;
  margin-left: -2px;
}
.timeline-block:first-child::before{
  margin-top: 12px;
}
.timeline-block:last-child::before{
  height: 106%;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}
.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.timeline-block:first-child {
  margin-top: 0;
}
.sm-rectangle{
  text-align: center;
}
.btm_rectangle{
  position: absolute;
  left: 49.44%;
  bottom: -20px;
}
.timeline-block {
  position: relative;
}
.timeline-content {
  width: 42%;
  position: relative;
  background: $font-color-secondary;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 0 8px $font-color-secondary;
}
.timeline-content-left{
  text-align: right;
}
.timeline-block:hover .timeline-content, .timeline-block:hover::before {
  color: $font-color-secondary;
  background: forestgreen;
  transition: 0.4s ease;
}
.timeline-block:hover .date{
  color: forestgreen;
  transition: 0.6s ease;
}
.timeline-content .date {
  position: absolute;
  width: 100%;
  left: 105%;
  top: 45px;
  padding: 5px 0;
  font-size: 16px;
  background: white;
}
.date-left{
  text-align: left;
}
.date:hover{
color: forestgreen;
}
.timeline-block:nth-child(even) .timeline-content .date {
  left: auto;
  right: 103.5%;
  padding: 5px 0;
  text-align: right;
}
.timeline-block:nth-child(even) .timeline-content {
  float: right;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
/***********************************************************
                       SKILL
***********************************************************/
.skills_title{
  color: $font-color-secondary;
}
.skills_container{
  margin-top: 80px;
  background: $font-color-dark;
  padding: 1px;
}
.skill{
  padding: 0 10%;
  display: flex;
  justify-content: center;
}
.skill_table{
  padding: 0 50px 0 0;
}
.skill_name{
  font-family: $font-base;
  color:  $font-color-back;
  font-size: 18px;
  line-height: 25px;
  transform: scaleX(1.0008);
  text-align: right;
  padding-right: 10px;
}
.skill-progress {
  position: relative;
  background-color: $font-color-three;
  margin: 15px 0;
  height: 3px;
  z-index: 0;
  overflow: visible;
}
.skill-progress-div{
  width: 370px;
}
.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $font-color-secondary;
  transition: width 2s linear;
}
.skill-determinate {
  transition: width 1s ease;
}
.skill-determinate .skill-determinate-circle {
  position: absolute;
  right: 0;
  top: -7px;
  color: $font-color-secondary;
  font-size: 18px;
}.skill-progress {
   position: relative;
   background-color: #3a4149;
   margin: 15px 0;
   height: 10px;
   z-index: 0;
   overflow: visible;
 }
.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $font-color-three;
  transition: width 2s linear;
}
.skill-determinate {
  transition: width 1s ease;
}
.skill-determinate .skill-determinate-circle {
  position: absolute;
  right: 0;
  top: -7px;
  color: $font-color-secondary;
  font-size: 18px;
}
.skill_bar{
  width: 370px;
}
.skill_percent{
  color: bisque;
}
.progress__svg {
  transform: rotate(-90deg);
}

.progress__meter,
.progress__value {
  fill: none;
}

.progress__meter {
  stroke: #ccc;
}

.progress__value {
  stroke: #4CAF50;
  transition: all;
}
.circle_skill__list{
  display: flex;
  justify-content: center;
}
.circle-skill__item{
  padding: 0 30px;
}
.circle_name{
  text-align: center;
  padding-left: 17px;
}
/***********************************************************
                        WORKS
***********************************************************/

/***********************************************************
                        ACHIEVEMENTS
***********************************************************/
.achievements__container, .achievements__content{

}
.achievements__container{
  background: url("../../../assets/image-personal/awards-background.png");
  height: 400px;
  width: 100%;
}
.achievements__content{
  height: 100%;
  width: 100%;
  background: rgba(0,0,0, .7);
}
.achievements__icon{
  font-size: 600%;
  color: $font-color-secondary;
}
.achievements__list{
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievements__item{
  padding: 0 100px;
  text-align: center;
}
.achievement_num{
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  color: $font-color-secondary;
}
/***********************************************************
                        POSTS
***********************************************************/
.news__container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__block{
  position: relative;
  height: 415px;
  width: 350px;
  padding: 5px;
  margin: 20px 30px;
  box-shadow: 0 0 1px 0 rgba(0,0,0, .3);
}
.absolute-shape{
  position: absolute;
  bottom: 138px;
  right: 20px;
}
.news-resent{
  height: 375px;
}
.news-tags{
  font-family: $font-base;
  color:  $font-color-three;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}
.news__text{
  font-family: $font-base;
  color:  #282828;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;

}
.news_details__list{
  display: flex;
  margin: 0 auto;
  padding: 10px 0;
}
.news_details__item{
  list-style: none;
  font-size: 12px;
  padding: 6px;
  color: #636363;
}
.news_details__item-icon{
  margin-right: 3px;
}
.news-details{
  border-top: 1px solid gainsboro;
  align-self: flex-end;
  display: flex;
}
/***********************************************************
                    HIRED PART
***********************************************************/
.hired__container{
  background: url("../../../assets/image-personal/background-hired.png");
  background-size: 100%;
  width: 100%;
  height: 300px;
}
.hired__content{
  background: rgba(104, 195, 163, 0.9);
  height: 100%;
  width: 100%;
  text-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.get-hired__button{
  padding: 15px 30px;
  background: rgb(103, 181, 154);
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid $font-color-secondary;
  color: $font-color-secondary;
}
.get-hired__text{
  font-family: $font-base;
  color:  $font-color-secondary;
  font-size: 36px;
  font-weight: bold;
}
/***********************************************************
                    FEEDBACK
***********************************************************/
.feedback__container{
  padding: 50px 280px;
  height: 700px;
}
.feedback_contact{
  text-align: left;
}
.feedback__input, .feedback__textarea{
  width: 530px;
  background: $font-color-secondary;
  border: 1px solid gainsboro;
  border-radius: 3px;
}
.feedback__input{
  height: 50px;

}
.feedback__textarea{
  height: 145px;
  width: 530px;
  resize: none;

}
.feedback_contact__list{
  padding: 0;
}
.feedback_contact__item{
  list-style: none;
}
.feedback_contact__button{
  background: $font-color-three;
  border-radius: 4px;
  color: $font-color-secondary;
}
.feedback__text{
  color:  #282828;
  padding-bottom: 0;
  margin-bottom: 5px;
}
.feedback__bold-text {
  font-weight: bold;
}
/***********************************************************
                      FOOTER
***********************************************************/
.footer{
  margin-top: 50px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $font-color-dark;
  color: $font-color-secondary;
}
.footer__link{
  color: #9c9696;
  text-decoration: none;
}
/***********************************************************
                    @MEDIA
***********************************************************/
@media screen and (max-width: 1685px) {
 .landing-page__container{
   width: auto;
   max-width: 1685px
 }
  .header__introduction-block{
    width: 35%;
    padding: 6% 0 0 6%;
    height: auto;
  }
}

@media screen and (max-width: 1430px) {
  .header, .header__details-block{
  min-height: 550px;
  max-height: 694px;
  }
  .header{
    height: auto;
  }
  .header__details-block{
    height: 100%;
    background-size: auto;
  }
  .nav_item{
    padding: 15px 2%;
  }
  .nav_link{
    padding: 0;
  }
  .timeline-content {
    width: 36vw;
  }
  .skill{
    padding: 0 2%;
  }
  .skill_table{
    padding: 0;
  }
  .skill_bar{
    width: 290px;
    padding-right: 20px;
  }
  .subtitle{
    color: #8da2b7;
  }
  .skill_name{
    padding-right: 5px;
    font-size: unset;
  }
  .achievements__content{
    padding: 40px 0;
  }
  .achievements__container{
    height: auto;
  }
  .achievements__item{
    padding: 0 6%;
  }
  .achievement_name{
    text-align: center;
    font-size: 1.5vw;
  }
  .achievements__icon{
    font-size: 7vw;
  }
  .achievements__icon{
    font-size: 6.5vw;
  }
  .feedback__container{
    padding: 50px 0;
  }
  .feedback_contact{
    text-align: center;
  }
  .hired__container{
    background-size: 260%;
  }
}
@media screen and(min-width: 700px) and (max-width: 1160px){
  .bg_gradient{
    padding: 50px 25px;
  }
  .details__list{
    font-size: 1.8vw;
  }
  .button{
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    width: 200px;
    height: unset;
    padding: 10px 0;
  }
}
@media screen and (max-width: 699px) {
  .header__introduction-block{
    width: 100%;
    text-align: center;
    padding: 0 0 4%;
  }
  .header__details-block{
    margin: auto;
    background-size: 100%;
    width: 100%;
    min-height: 570px;
  }
  .header__container{
    display: grid;
    margin: auto;
  }
  .header{
    height: 890px;
    max-height: unset;
  }
  .about__container{
    padding-top: 20px;
  }
  .timeline-content{
    width: 37%;
  }
  .skill_bar {
    width: 150px;
    padding-right: 0;
  }
  .skill_name{
    font-size: 11px;
  }
  .circle_skill__list{
    padding: 0;
  }
  .achievements__item{
    padding: 0 19px;
  }
  .achievements__icon {
    font-size: 200%;
  }
  .achievement_num[_ngcontent-c1] {
    font-size: 55px;
  }
  .achievement_name{
    text-align: center;
  }
  .achievements__container{
    background-size: 205%;
  }
  .achievements__list{
    padding: 0;
  }
  .news__block{
    height: 375px;
    width: 300px;
  }
  .news_img{
    width: 100%;
  }
  .absolute-shape{
    bottom: 134.5px;
  }
  .news_details__list{
    padding: 0;
  }
  .news_details__item{
    font-size: 11px;
  }
  .news_details__item-icon{
    margin-right: 2px;
  }
  .news-resent{
    height: 355px;
  }
}
