/***********************************************************
                          GENERAL
***********************************************************/
li {
  list-style: none; }

.landing-page__container {
  width: 1696px;
  margin: 0 auto; }

.clear {
  clear: both; }

/***********************************************************
                          HEADER
***********************************************************/
.header {
  background: #272b31;
  height: 764px; }

.header__container {
  height: 694px; }

.header__introduction-block {
  float: left;
  height: 594px;
  padding: 100px 0 0 160px; }

.dev__name, .dev__status {
  text-transform: uppercase; }

.dev__name {
  font-family: Roboto;
  color: whitesmoke;
  font-size: 60px;
  font-weight: bold;
  line-height: 79px;
  letter-spacing: 3px; }

.dev__status {
  font-family: Roboto;
  color: #68c3a3;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 1px; }

.dev__description {
  font-family: Roboto;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 300;
  line-height: 26px; }

.button {
  border-radius: 5px;
  width: 200px;
  height: 57px;
  border: none;
  letter-spacing: 1px;
  font-family: Roboto;
  color: whitesmoke;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  text-align: center; }

.button__cv, .button__telegram {
  padding: 20px 10px;
  text-decoration: none; }

.button__telegram {
  background-color: #52b3d9;
  margin-right: 10px; }

.button__cv {
  margin-left: 10px;
  background-color: #68c3a3; }

.button_icon {
  padding: 0 8px 0 0;
  font-size: 15px; }

.header__details-block {
  width: 55%;
  height: 694px;
  float: right;
  background: url("../../../assets/image-personal/human.png") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end; }

.bg_gradient {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  width: 100%;
  padding: 50px; }

.details__list {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  color: whitesmoke; }

.details__item {
  padding-right: 25px;
  text-align: center; }

.details__item-name-of {
  text-align: left;
  padding: 0; }

.socials {
  display: flex;
  margin-top: 20px; }

.socials__icon {
  margin: 0 8px; }

.social_fa {
  font-size: 25px;
  padding: 0 10px; }

.relative_social {
  position: relative;
  background: url("../../../assets/image-personal/rectangle.png") no-repeat;
  height: 45px;
  width: 45px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white; }

.control_list {
  float: left;
  padding: 0 20px 0 0; }

.header__nav {
  border: 1px solid whitesmoke;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  padding: 30px 20px; }

.nav_link {
  padding: 0 20px;
  list-style: none;
  font-weight: bolder;
  color: #272b31;
  text-decoration: none; }

/***********************************************************
                      ABOUT
***********************************************************/
.title {
  font-family: Roboto;
  color: #2c3e50;
  font-size: 49.99px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  transform: scaleY(1.0002); }

.subtitle {
  font-size: 24px;
  line-height: 46px; }

.br_img {
  margin: auto;
  text-align: center;
  width: 100%;
  height: 20px; }

.about__container {
  padding-top: 110px;
  text-align: center; }

.about__rectangle-container {
  display: flex;
  justify-content: center; }

.about__rectangle {
  background: url("../../../assets/image-personal/big-rectangle.png") no-repeat;
  height: 260px;
  width: 260px;
  background-size: 100%;
  margin: 0 30px;
  padding: 70px 0 0;
  color: #717171; }

.rectangle_icon {
  font-size: 70px; }

.work_img {
  padding: 15px; }

/***********************************************************
                    RESUME
***********************************************************/
.timeline {
  position: relative;
  padding: 10px 0 40px;
  margin-top: 2em;
  margin-bottom: 2em; }

.timeline-block::before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background: whitesmoke;
  left: 50.12%;
  margin-left: -2px; }

.timeline-block:first-child::before {
  margin-top: 12px; }

.timeline-block:last-child::before {
  height: 106%; }

.container::after {
  content: '';
  display: table;
  clear: both; }

.container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto; }

.timeline-block:first-child {
  margin-top: 0; }

.sm-rectangle {
  text-align: center; }

.btm_rectangle {
  position: absolute;
  left: 49.44%;
  bottom: -20px; }

.timeline-block {
  position: relative; }

.timeline-content {
  width: 42%;
  position: relative;
  background: whitesmoke;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 0 8px whitesmoke; }

.timeline-block:hover .timeline-content, .timeline-block:hover::before {
  color: whitesmoke;
  background: forestgreen;
  transition: 0.4s ease; }

.timeline-block:hover .date {
  color: forestgreen;
  transition: 0.6s ease; }

.timeline-content .date {
  position: absolute;
  width: 100%;
  left: 104.8%;
  top: 45px;
  padding: 5px 0;
  font-size: 16px;
  background: white; }

.date:hover {
  color: forestgreen; }

.timeline-block:nth-child(even) .timeline-content .date {
  left: auto;
  right: 105.5%;
  padding: 5px 0;
  text-align: right; }

.timeline-block:nth-child(even) .timeline-content {
  float: right; }

.timeline-block:after {
  content: "";
  display: table;
  clear: both; }

/***********************************************************
                       SKILL
***********************************************************/
.skills_title {
  color: whitesmoke; }

.skills_container {
  margin-top: 80px;
  background: #272b31;
  padding: 1px; }

.skill {
  padding: 0 10%;
  display: flex;
  justify-content: center; }

.skill_table {
  padding: 0 50px 0 0; }

.skill_name {
  font-family: Roboto;
  color: gainsboro;
  font-size: 18px;
  line-height: 25px;
  transform: scaleX(1.0008);
  text-align: right;
  padding-right: 10px; }

.skill-progress {
  position: relative;
  background-color: #68c3a3;
  margin: 15px 0;
  height: 3px;
  z-index: 0;
  overflow: visible; }

.skill-progress-div {
  width: 370px; }

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: whitesmoke;
  transition: width 2s linear; }

.skill-determinate {
  transition: width 1s ease; }

.skill-determinate .skill-determinate-circle {
  position: absolute;
  right: 0;
  top: -7px;
  color: whitesmoke;
  font-size: 18px; }

.skill-progress {
  position: relative;
  background-color: #3a4149;
  margin: 15px 0;
  height: 10px;
  z-index: 0;
  overflow: visible; }

.progress .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #68c3a3;
  transition: width 2s linear; }

.skill-determinate {
  transition: width 1s ease; }

.skill-determinate .skill-determinate-circle {
  position: absolute;
  right: 0;
  top: -7px;
  color: whitesmoke;
  font-size: 18px; }

.skill_bar {
  width: 370px; }

.progress__svg {
  transform: rotate(-90deg); }

.progress__meter,
.progress__value {
  fill: none; }

.progress__meter {
  stroke: #ccc; }

.progress__value {
  stroke: #4CAF50;
  transition: all; }

.circle_skill__list {
  display: flex;
  justify-content: center; }

.circle-skill__item {
  padding: 0 30px; }

.circle_name {
  text-align: center;
  padding-left: 17px; }

/***********************************************************
                        WORKS
***********************************************************/
/***********************************************************
                        ACHIEVEMENTS
***********************************************************/
.achievements__container {
  background: url("../../../assets/image-personal/awards-background.png");
  background-size: 100%;
  height: 400px;
  width: 100%; }

.achievements__content {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); }

.achievements__icon {
  font-size: 600%;
  color: whitesmoke; }

.achievements__list {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.achievements__item {
  padding: 0 100px;
  text-align: center; }

.achievement_num {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
  color: whitesmoke; }

/***********************************************************
                        POSTS
***********************************************************/
.news__container {
  display: flex;
  justify-content: center;
  align-items: center; }

.news__block {
  position: relative;
  height: 415px;
  width: 350px;
  padding: 5px;
  margin: 20px 30px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3); }

.absolute-shape {
  position: absolute;
  bottom: 138px;
  right: 20px; }

.news-resent {
  height: 375px; }

.news-tags {
  font-family: Roboto;
  color: #68c3a3;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px; }

.news__text {
  font-family: Roboto;
  color: #282828;
  font-size: 12px;
  font-weight: bold;
  padding: 10px; }

.news_details__list {
  display: flex;
  margin: 0;
  padding: 10px 0; }

.news_details__item {
  list-style: none;
  font-size: 12px;
  padding: 6px;
  color: #636363; }

.news-details {
  border-top: 1px solid gainsboro;
  align-self: flex-end;
  display: flex; }

/***********************************************************
                    HIRED PART
***********************************************************/
.hired__container {
  background: url("../../../assets/image-personal/background-hired.png");
  background-size: 100%;
  width: 100%;
  height: 300px; }

.hired__content {
  background: rgba(104, 195, 163, 0.9);
  height: 100%;
  width: 100%;
  text-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: flex;
  justify-content: center; }

.get-hired__button {
  height: 50px;
  width: 180px;
  background: transparent;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: whitesmoke; }

.get-hired__text {
  font-family: Roboto;
  color: whitesmoke;
  font-size: 36px;
  font-weight: bold; }

/***********************************************************
                    FEEDBACK
***********************************************************/
.feedback__container {
  padding: 50px 280px;
  height: 700px; }

.feedback_contact {
  text-align: left; }

.feedback__input, .feedback__textarea {
  width: 530px;
  background: whitesmoke;
  border: 1px solid gainsboro;
  border-radius: 3px; }

.feedback__input {
  height: 50px; }

.feedback__textarea {
  height: 145px;
  width: 530px;
  resize: none; }

.feedback_contact__list {
  padding: 0; }

.feedback_contact__item {
  list-style: none; }

.feedback_contact__button {
  background: #68c3a3;
  border-radius: 4px;
  color: whitesmoke; }

.feedback__text {
  color: #282828; }

.feedback__bold-text {
  font-weight: bold; }

/***********************************************************
                      FOOTER
***********************************************************/
.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272b31;
  color: whitesmoke; }

.footer__link {
  color: whitesmoke; }

/*# sourceMappingURL=landing-page.component.css.map */
