<div class="landing-page__container">
  <div class="header" id="header">
    <div class="header__container">
      <div class="header__introduction-block">
        <h1 class="dev__name">Vlad Senchuk</h1>
        <h3 class="dev__status">User interface/user experience developer</h3>
        <p class="dev__description">Young developer who want`s create perfect sites</p>
        <button class="button button__telegram"><fa-icon class="button_icon" [icon]="faTelegramPlane"></fa-icon> SEND ME A MESSAGE</button>
        <button class="button button__cv"><fa-icon class="button_icon" [icon]="faDownload"></fa-icon>DOWNLOAD MY CV</button>
      </div>
      <div class="header__details-block">
        <div class="bg_gradient">
          <table class="details__list">
            <tr *ngFor="let detail of details">
              <td class="details__item details__item-name-of">{{detail.item}}</td>
              <td class="details__item">{{detail.item_value}}</td>
              <td class="details__item details__item-name-of">{{detail.another_item}}</td>
              <td class="details__item">{{detail.another_item_value}}</td>
            </tr>
          </table>
          <div class="socials">
            <a *ngFor="let social of socials" class="socials__icon" href="{{social.href}}"><img src="{{social.img}}" alt=""></a>
          </div>
        </div>
      </div>
    </div>
    <nav class="header__nav">
      <a *ngFor="let link of links" class="nav_link" href="#{{link.href}}" >{{link.name}}</a>
    </nav>
  </div>

  <div class="about__container" id="about">
    <h1 class="title">ABOUT ME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">OBJECTIVE</h3>
    <p class="dev__description">some objective</p>
    <h3 class="title subtitle">WHAT I DO?</h3>
    <div>
      <img *ngFor="let rectangle of rectangles" class="work_img" src="{{rectangle.img}}" alt="">
    </div>
  </div>

  <div class="resume__container" id="resume">
    <h1 class="title">RESUME</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">Education</h3>
    <section class="education timeline container">
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="/src/assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 2</h2>
          <p>Event 2 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 3</h2>
          <p>Event 3 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 4</h2>
          <p>Event 4 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="/src/assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>
    <h3 class="title subtitle">Education</h3>
    <section class="experience container timeline">
      <div class="timeline-block">
        <div class="sm-rectangle"><img src="/src/assets/image-personal/sm-rectangle.png" alt=""></div>
        <div class="timeline-content">
          <h2>Event 1</h2>
          <p>Event 1 Description </p>
          <span class="date">2004-2010</span>
        </div>
      </div>
      <div class="timeline-block">
        <div class="timeline-content">
          <h2>Event 5</h2>
          <p>Event 5 Description </p>
          <span class="date">2004-2010</span>
        </div>
        <div class="sm-rectangle btm_rectangle"><img src="/src/assets/image-personal/sm-rectangle.png" alt=""></div>
      </div>
    </section>
  </div>

  <div class="skills_container" id="skills">
    <h1 class="title skills_title">SKILLS</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt=""></div>
    <section class="skill">
      <table class="skill_table">
        <tr class="skill_table" *ngFor="let skill of skills">
          <td class="skill_name">
            <p>{{skill.name}} <span>{{skill.number_of}}</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress">
              <div class="determinate skill-determinate" style.width="{{skill.percent}}" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
      </table>
      <table class="skill_table">
        <tr class="skill_table" *ngFor="let skill of skills_column">
          <td class="skill_name">
            <p>{{skill.name}} <span>{{skill.number_of}}</span></p>
          </td>
          <td class="skill_bar">
            <div class="progress skill-progress">
              <div class="determinate skill-determinate" style.width="{{skill.percent}}" [ngClass]="{'width-zero':!loaded}">
                <i class="skill-determinate-circle fa fa-circle aos-init aos-animate" data-aos="zoom-in"
                   data-aos-delay="300" data-aos-offset="0"></i>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </section>
    <section class="more-skills">
      <h3 class="title subtitle">MORE SKILLS</h3>
      <ul class="circle_skill__list">
        <li *ngFor="let skill of circle_skills" class="circle-skill__item">
          <div class="c100 p{{skill.number_of}} green">
            <span>{{skill.number_of}}%</span>
            <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
            </div>
          </div>
          <p class="skill_name circle_name">{{skill.name}}</p>
        </li>
      </ul>
    </section>
  </div>

  <div class="works_container" id="works">
    <h1 class="title">WORKS</h1>
    <div class="br_img"><img src="/src/assets/image-personal/br.png" alt=""></div>
    <h3 class="title subtitle">ALL MY WORKS YOU CAN FIND AT <a href="https://github.com/neitiris">GITHUB</a></h3>
  </div>

  <div class="achievements__container">
    <div class="achievements__content">
      <ul class="achievements__list">
        <li class="achievements__item" *ngFor="let achievement of achievements">
          <fa-icon class="achievements__icon" [icon]=" achievement.icon "></fa-icon>
          <p class="achievement_num">{{ achievement.num }}</p>
          <p class="skill_name">{{ achievement.name }}</p>
        </li>
      </ul>
    </div>
  </div>

    <div class="posts" id="posts">
    <h1 class="title">Latest Posts</h1>
    <div class="br_img"><img src="/src/assets/image-personal/br.png" alt=""></div>
    <div class="news__container">
      <div class="news__block">
        <div class="news-resent" *ngFor="let newsItem of news_block">
          <img class="absolute-shape" src="{{newsItem.img}}">
          <img src="{{newsItem.bigimg}}" alt="">
          <p class="news-tags">{{newsItem.tags}}</p>
          <p class="news__text">{{newsItem.text}}</p>
        </div>
        <div class="news-details">
          <ul class="news_details__list">
            <li class="news_details__item" *ngFor="let news of news_details">
              <fa-icon [icon]=" news.icon "></fa-icon>
              <span>{{news.name}}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="hired__container" id="hired">
    <div class="hired__content">
      <div>
        <h2 class="get-hired__text">I`M AVIAILABLE FOR RECRUTING</h2>
        <button class="get-hired__button">GET HIRED</button>
      </div>
    </div>
  </div>

  <div class="feedback__container" id="feedback">
    <h1 class="title">GET IN TOUCH</h1>
    <div class="br_img"><img src="../../../assets/image-personal/br.png" alt="">
      <div class="feedback_contact">
        <p class="dev__description feedback__text feedback__bold-text">SEND ME A MESSAGE</p>
        <ul class="feedback_contact__list">
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <input class="feedback__input" type="text">
          </li>
          <li class="feedback_contact__item">
            <p class="dev__description feedback__text">NAME</p>
            <textarea class="feedback__textarea" name=""></textarea>
          </li>
          <li class="feedback_contact__item">
            <button class="get-hired__button feedback_contact__button">SEND ME :)</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <footer class="footer">
    <p>Created by<a class="footer__link" href="https://www.linkedin.com/in/vladislav-senchuk-94b57a168/">Vlad Senchuk</a> 2018 © All rights reserved</p>
  </footer>
</div>
